@import "variables";
@import "helpers";

%menu-item {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: toRem(14.12px);
  line-height: toRem(16.55px);
  color: #CDCDCD;
  text-decoration: none;
  padding: toRem(10px);
  margin: toRem(6px);
  display: inline-block;
  text-transform: uppercase;
}
.intro {
  background: #202824;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  padding-top: toRem(10px);
  padding-bottom: toRem(5px);
}

.main-menu {
  &__item {
    @extend %menu-item;
  }

  &__item--active, &__item:hover {
    font-weight: 700;
    color: #DFB388;
    position: relative;


    &::before {
      content: '';
      position: absolute;
      bottom: toRem(6px);
      left: toRem(10px);
      width: toRem(22.59px);
      height: toRem(1.41px);
      display: block;
      background-color:#DFB388;
    }
  }
}

.auth-menu {
  &__item {
    @extend %menu-item;
  }
    border-radius: toRem(12px);
    padding: toRem(20px) toRem(32px)
  }
.lead {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
  .pictures {
    display: block;
    position: relative;
  }

.lines {
  display: inline-block;
  padding-bottom: toRem(40px);
  position: relative;
}
.search__wrapper {
  display: flex;
 align-content: space-between;

}
span {
  width: 185px;
}