@import "variables";
@import "helpers";

%menu-item {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: toRem(14.12px);
  line-height: toRem(16.55px);
  color: #CDCDCD;
  text-decoration: none;
  padding: toRem(6px);
  margin: toRem(6px);
  display: inline-block;
  text-transform: uppercase;
}
.intro {
  background-image: url("#{$imgs-path}/background.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: toRem(1440px);
  width: 100%;
  padding-bottom: toRem(5px);
  padding-left: toRem(6px);
  padding-right: toRem(6px);
}

.main-menu {
  &__item {
    @extend %menu-item;
  }

  &__item--active, &__item:hover {
    font-weight: 700;
    color: #DFB388;
    position: relative;


    &::before {
      content: '';
      position: absolute;
      bottom: toRem(6px);
      left: toRem(10px);
      width: toRem(22.59px);
      height: toRem(1.41px);
      display: block;
      background-color:#DFB388;
    }
  }
}

.auth-menu {
  &__item {
    @extend %menu-item;
  }
    border-radius: toRem(12px);
    padding: toRem(20px) toRem(32px)
  }
.lead {
  display: block;
  position: absolute;
  top: 10%;
  left: 31%;

}
  .pictures {
    display: block;
    position: absolute;
    top: 25%;
    left: 18%;

  }

.lines {
  display: inline-block;
  position: absolute;
  top: 94%;
  left: 42%;
}
.search__wrapper {
  position: absolute;
  left: 42%;
  bottom: 60%;


}
span {
  width: 180px;
}

.number {
  display: block;
  position: absolute;
  margin: 0;
  bottom: 6%;
  left: 50%;

}

.icons {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 100px;
}